.gtfsweb-input {
    border-style: solid;
    border-width: 0.1em;
    padding: 0.1em;
    margin-left: 2em;
    width: 20em;
    text-align: center;
}

.gtfsweb-button {
    /* background-color: red; */
    border-style: solid;
    border-width: 0.1em;
    padding: 0.1em;
    margin-left: 2em;
    margin-bottom: 0.5em;
    width: 40em;
    text-align: center;
}

.gtfsweb-button:hover {
    cursor: pointer;
    background-color: lightgreen;
}

.gtfsweb-selected,
.gtfsweb-selected:hover {
    background-color: green;
    color:white;
}

.gtsfweb-hidden {
	display: none !important;
	width: 0;
	height: 0;
	margin: 0 !important;
	padding: 0 !important;
	top: 0;
	left: 0;
	border-width: 0 !important;
	border-style: none !important;
	animation: none;
	visibility: hidden;
	transform: scale(0);
}